body {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
  background-color: #000000;
  color: #dddddd;
  font-family: sans-serif;
}

canvas {
  align-self: flex-start;
}

#container {
  max-height: 80vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

input[type="number"] {
  width: 6ch;
}

#piano {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20vh;
  display: flex;
  overflow-x: hidden;
}
#ivory, #ebony {
  height: 100%;
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
}
#ebony {
  height: 60%;
  margin-left: 2ch;
}
.key {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #fefee8;
  max-width: 10%;
  min-width: 4ch;
  top: 3%;
  height: 97%;
  border: outset;
  border-top: none;
  border-bottom-width: .7em;
  box-sizing: border-box;
  border-radius: 8%;
}
#ebony .key {
  background-color: #333;
  z-index: 1;
  position: relative;
  border-color: #555;
  top: 0%;
}
#piano .invisible {
  visibility: hidden;
}
#piano .key.pressed {
  background-color: #a33;
  border-color: #611;
}
#ebony .key:last-child {
  visibility: hidden;
}
